/.metadata/
.recommenders
.gitignore
.classpath
.settings
.project

.idea
*.out

classes
dist
javadoc
docs/manual/bshcommands-bshdoc.xml
target

nb-configuration.xml
nbproject
nbactions.xml

BeanShell.iml
BeanShell.ipr
BeanShell.iws
*gradle*
*.ser
